@using GeorgeShopAndRecipe.Core.Contracts.Recipe
@model RecipeServiceModel
@inject IRecipeService recipeService

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Recipe Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <form class="input-group-sm" asp-controller="Recipe"
                asp-area="Admin" asp-action="Approve" asp-route-recipeId="@Model.Id" method="post">
                <input class="btn-success" type="submit" value="Approve" />
            </form>
        </div>
    </div>
</div>
